<!doctype html>
<html>
<head>
    <title><%= locals.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Company Web Solutions">
    <meta name="keywords" content="Company Web Solutions">
    <link href="/public/css/core.min.css" rel="stylesheet">
    <link href="/public/css/thesaas.min.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid" style="padding:0px;">
	<!-- THIS IS THE BANNER -->
	<header class="header header-inverse main-header prof-header" style="background-image: url(/public/images/Technique-for-Faster-Web-Development.jpg)">
	    <div class="overlay" style="background-image: linear-gradient(120deg,#292d35 0,#1e2127 100%);" id="home"></div>
	    <div class="container text-center">
	
	     <div class="row h-full">
	       	<div class="col-12 col-md-8 offset-lg-2 align-self-center pt-50">

	       		<h2 class="hidden-sm-down">COMPANY WEB SOLUTIONS</h2><br><hr class="w-50 hidden-sm-down">
	         	<h1 class="hidden-sm-down fs-55">
                    We are a creative group of people who design influential brands and digital experiences.
	         	</h1>
	         	<h1 class="hidden-md-up fs-30">
                    COMPANY WEB SOLUTIONS<br><br><hr class="w-50">
                    We are a creative group of people who design influential brands and digital experiences.
	         	</h1><br>
                <br>
      
                <br>

                <div class="text-center">
                    <a class="btn btn-default btn-lg" href="#" style="border-radius: 0px;" data-scrollto="section-content">Get Started</a> 
                    <a class="btn btn-danger btn-lg" href="#" style="border-radius: 0px" data-scrollto="section-content">Learn More <span class="fa fa-arrow-right"></span></a>
                </div>
	         	
	         	<br>
	       	</div>
	     </div>

	     <br><br><br><br>

	     <div class="col-12 align-self-end text-center">
	        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
	    </div>
	
	    </div>
	</header>
	<!-- END BANNER -->

	<!-- THIS IS THE NAVBAR -->
	<%- include("../templates/navbar.ejs") %>

    <!-- THIS IS THE ABOUT US SECTION -->
	<section class="section overflow-hidden" id="section-content">
        <div class="container">
           <div class="row">
              <div class="col-md-6 col-sm-6">
                 <div>
                    <div class="about-box-text text-justify">
                       <h4 class="text-dark"><font style="vertical-align: inherit;"><i class="fa fa-users"></i> <font style="vertical-align: inherit;">OUR TEAM</font></font></h4>
                       <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> We are a group of web developers and experienced designers with a solid academic background and the drive to keep abreast of new technologies and trends in the industry. </font></font></p>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-sm-6">
                 <div>
                    <div class="about-box-text text-justify">
                       <h4 class="text-dark"><font style="vertical-align: inherit;"> <i class="fa fa-globe"></i> <font style="vertical-align: inherit;">OUR EXPERIENCE</font></font></h4>
                       <p class="scrollto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Our team has been in the technology business for several years, building the experience necessary to perform at the highest levels of expectation. </font></font></p>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row pt-20">
              <div class="col-md-6 col-sm-6">
                 <div>
                    <div class="about-box-text text-justify">
                       <h4 class="text-dark"><font style="vertical-align: inherit;"><i class="fa fa-rocket"></i> <font style="vertical-align: inherit;">OUR HISTORY</font></font></h4>
                       <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Company Web Solutions was born from the undertaking of a group of work colleagues and friends who identified the need to fill a gap in the market for high quality web solutions in Costa Rica and the rest of the world. </font></font></p>
                    </div>
                 </div>
              </div>
              <div class="col-md-6 col-sm-6">
                 <div>
                    <div class="about-box-text text-justify">
                       <h4 class="text-dark"><font style="vertical-align: inherit;"> <i class="fa fa-star"></i> <font style="vertical-align: inherit;">OUR VALUES</font></font></h4>
                       <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">At Company Web Solutions we are focused on being honest and truthful with our values &#8203;&#8203;of commitment, consistency, responsibility, loyalty, quality and integrity. </font><font style="vertical-align: inherit;">They are the bases of our organization.</font></font></p>
                    </div>
                 </div>
              </div>
           </div>

           <div class="about-section-more text-justify">
              <div class="row">
                 <div class="col-md-6 col-sm-6">
                    <div>
                       <p class="scrollto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">At Company Web Solutions, ours is technology, quality and effectiveness in each project. </font><font style="vertical-align: inherit;">Teamwork, knowledge and experience are the most remarkable qualities in our team. </font><font style="vertical-align: inherit;">These make Company Web Solutions the best option to meet the needs of your business. </font><font style="vertical-align: inherit;">We care about keeping up with industry trends and technologies, which will assure your business that we will deliver a complete and efficient product for any project.</font></font></p>
                    </div>
                 </div>
              </div>
           </div>
        </div>
        <br>
        <div class="col-md-12 text-center" style="margin-top: 40px">      
            <a href="#" data-scrollto="section-team" class="btn btn-round btn-danger">
                View Individual Team Members
            </a>
        </div>
    </section>
    <!-- // END OF ABOUT US SECTION -->

    <!-- THIS IS THE OUR TEAM SECTION -->
    <section class="section overflow-hidden team-member" id="section-team" style="background-image: url(public/images/startup-photos2.jpg)" data-overlay="6">
        <div class="container pb-40">
            <div class="row">
                <div class="col-12 col-md-8 offset-lg-2"><br>
                    <h2 class="text-center text-white">INDIVIDUAL TEAM MEMBERS <hr class="w-50 hidden-sm-down">
                    <!-- EXPLORE FITNESS OPTIONS IN COSTA RICA --></h2>
                    <h3 class="text-center text-white" style="color:#4f4f4f;">Our team is composed of professional Web Deveopers, Graphics Designer and Video Editors.</h3>
                </div>
            </div>

            <br> <br>

            <div class="row">
                <div class="col-md-4 box text-center py-20">
                    <div class="card card-bordered card-hover-shadow">
                        <div class="card-block">
                            <a href="#">
                                <img src="/public/images/Developer1.jpg" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Web Developer</h4><hr>
                                <h5 class="card-title">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 box text-center py-20">
                    <div class="card card-bordered card-hover-shadow">
                        <div class="card-block">
                            <a href="#">
                                <img src="/public/images/Developer2.jpg" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Graphic Designer</h4><hr>
                                <h5 class="card-title">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 box text-center py-20">
                    <div class="card card-bordered card-hover-shadow">
                        <div class="card-block">
                            <a href="#">
                                <img src="/public/images/Developer3.jpg" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Web Developer</h4><hr>
                                <h5 class="card-title">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- // END OF OUR TEAM SECTION -->

    <!-- THIS IS THE OUR SERVICES SECTION -->
    <section class="section overflow-hidden" id="section-services">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><br>
                    <h2 class="text-center">OUR SERVICES</h2>
                </div>
            </div>

            <br> <br>

            <div class="row">
                <div class="col-md-4 box text-center py-20">
                    <div class="card card-bordered card-hover-shadow">
                        <div class="card-block">
                            <a href="#">
                                <img src="/public/images/web-development.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Web Development</h4><hr>
                                <h5 class="card-title">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 box text-center py-20">
                    <div class="card card-bordered card-hover-shadow">
                        <div class="card-block">
                            <a href="#">
                                <img src="/public/images/graphics-design.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Graphic Design</h4><hr>
                                <h5 class="card-title">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 box text-center py-20">
                    <div class="card card-bordered card-hover-shadow">
                        <div class="card-block">
                            <a href="#">
                                <img src="/public/images/marketing.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Marketing</h4><hr>
                                <h5 class="card-title">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 box text-center py-20">
                    <div class="card card-bordered card-hover-shadow">
                        <div class="card-block">
                            <a href="#">
                                <img src="/public/images/brand-design.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Brand Design</h4><hr>
                                <h5 class="card-title">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 box text-center py-20">
                    <div class="card card-bordered card-hover-shadow">
                        <div class="card-block">
                            <a href="#">
                                <img src="/public/images/customer-support.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Awesome Support</h4><hr>
                                <h5 class="card-title">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 box text-center py-20">
                    <div class="card card-bordered card-hover-shadow">
                        <div class="card-block">
                            <a href="#">
                                <img src="/public/images/creative-idea.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h4 class="card-title text-dark" style="margin-top: 20px; margin-bottom: 0;">Creative Idea</h4><hr>
                                <h5 class="card-title">Maecenas tempus tellus eget condimentum rhoncus sem quam semper libero sit amet.</h5>
                            </a>
                        </div>
                    </div>
                </div>
                
                <br>
                <div class="col-md-12 text-center" style="margin-top: 40px">      
                    <a href="/center/fitness-option/all" class="btn btn-round btn-danger">
                        Start Project with Us
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- // END OF OUR SERVICES SECTION -->

    <section class="section section-inverse cta-register" style="background-image: url(public/images/startup-photos.jpg)" data-overlay="6">
        <div class="container">
            <div class="col-12 col-md-12 text-center">
                <h4 class="mb-0">DO YOU HAVE IDEAS FOR WEB SITES?</h4><br>
                <a class="btn" style="background-color: white; color: #a55757;" href="#" data-scrollto="section-contactus">
                Contact Us
                </a>
            </div>
        </div>
    </section>

    <!-- THIS IS THE CONTACT US SECTION -->
    <section class="section" id="section-contactus">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2>CONTACT US</h2><hr class="w-50 hidden-sm-down">
                        <h4><b>Get in touch via contact form or email me directly</b></h4>
                        <p>I will get back to you as soon as possible</p>
                        <hr>
                    </div>  
                    
                    <div class="row">
                        <div class="col-md-8 col-sm-8" >
                            <form class="form-horizontal" action='/' method='post'>
                                <fieldset>
                                    <div class="form-group">
                                      <label for="inputSubject" class="col-md-2 control-label">Subject:</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control" id="inputSubject" name='subject' placeholder="Subject" required>
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                      <label for="name" class="col-md-2 control-label">Full Name:</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control" id="name" name='name' placeholder="From" required>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="email" class="col-md-2 control-label">Email:</label>
                                      <div class="col-md-12">
                                        <input type="text" class="form-control" id="email" name='email' placeholder="Email" required>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="message" class="col-md-2 control-label">Message:</label>
                                      <div class="col-md-12">
                                        <textarea class="form-control" rows="3" id="message" name='message' required></textarea>
                                      </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                      <div class="col-md-12 text-center">
                                        <button class="px-50 py-5" type="reset" style="color: #ffffff; background-color: #d82d48; border-color: transparent;">Reset</button>
                                        <button class="px-50 py-5" type="submit" style="color: #ffffff; background-color: #2c3e50; border-color: transparent;">Submit</button>
                                      </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center" >
                            <div>
                                <h3><strong>Where To Meet?</strong> </h3>
                            </div>
                            <!-- Personal Info -->
                            <div style="color: #515557;">
                                <p>Tayabas City</p>
                                <p>Quezon Philippines</p>
                            </div>
                            <hr>
                            <div>
                                <h3><strong>Say Hello</strong> </h3>
                            </div>
                            <!-- Personal Info -->
                            <div style="color: #515557;">
                                <p><strong>Email: </strong> some_email@gmail.com</p>
                                <p><strong>Phone: </strong>+639-19-589-5787</p>
                            </div>
                            <hr>

                            <div>
                                <p><a href='#'>Google Maps <span class="glyphicon glyphicon-arrow-right"></span></a></p>
                                <img src="/public/images/Google-Maps-icon.png" width="100" />
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <!-- // END OF THE CONTACT US SECTION -->
</div>
<%- include("../templates/footer.ejs") %>
<script src="/public/javascript/core.min.js"></script>
<script src="/public/javascript/thesaas.min.js"></script>
</body>
</html>