<!doctype html>
<html>
<head>
    <title><%= locals.title %></title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Company Web Solutions">
    <meta name="keywords" content="Company Web Solutions">
    <link href="/public/css/core.min.css" rel="stylesheet">
    <link href="/public/css/thesaas.min.css" rel="stylesheet">
    <link href="/public/css/styles.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid" style="padding:0px;">
	<!-- THIS IS THE BANNER -->
	<header class="header header-inverse main-header py-200 prof-header h-fullscreen" style="background-image: url(/public/images/Technique-for-Faster-Web-Development.jpg)">
	    <div class="overlay" style="background-image: linear-gradient(120deg,#292d35 0,#1e2127 100%);" id="home"></div>
	    <div class="container text-center">
	
	     <div class="row h-full">
	       	<div class="col-12 col-lg-8 offset-lg-2 align-self-center pt-50">

	       		<h2 class="hidden-sm-down">COMPANY WEB SOLUTIONS</h2><br><hr class="w-50 hidden-sm-down">
	         	<h1 class="hidden-sm-down fs-55">
                    We are a creative group of people who design influential brands and digital experiences.
	         	</h1>
	         	<h1 class="hidden-md-up fs-30">
                    COMPANY WEB SOLUTIONS<br><br><hr class="w-50">
                    We are a creative group of people who design influential brands and digital experiences.
	         	</h1><br>
                <br>
      
                <br>

                <div class="text-center">
                    <a class="btn btn-default btn-lg" href="#" style="border-radius: 0px;" data-scrollto="section-content">Get Started</a> 
                    <a class="btn btn-danger btn-lg" href="#" style="border-radius: 0px" data-scrollto="section-content">Learn More <span class="fa fa-arrow-right"></span></a>
                </div>
	         	
	         	<br>
	       	</div>
	     </div>

	     <br><br><br><br>

	     <div class="col-12 align-self-end text-center">
	        <a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
	    </div>
	
	    </div>
	</header>
	<!-- END BANNER -->

	<!-- THIS IS THE NAVBAR -->
	<%- include("../templates/navbar.ejs") %>

    <!-- THIS IS THE ABOUT US SECTION -->
	<section class="section fitness-options overflow-hidden" id="section-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><br>
                    <h2 class="text-center">ABOUT US<hr class="w-50 hidden-sm-down">
                    <!-- EXPLORE FITNESS OPTIONS IN COSTA RICA --></h2>
                    <h3 class="text-center" style="color:#4f4f4f;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h3>
                </div>
            </div>

            <br> <br>

            <div class="row">
                
            </div>
        </div>
    </section>
    <!-- // END OF ABOUT US SECTION -->

    <!-- THIS IS THE OUR SERVICES SECTION -->
    <section class="section fitness-options overflow-hidden bg-gray" id="section-content">
        <div class="container">
            <div class="row">
                <div class="col-sm-12"><br>
                    <h2 class="text-center">OUR SERVICES<hr class="w-50 hidden-sm-down">
                    <!-- EXPLORE FITNESS OPTIONS IN COSTA RICA --></h2>
                    <h3 class="text-center" style="color:#4f4f4f;">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</h3>
                </div>
            </div>

            <br> <br>

            <div class="row">
                <div class="col-sm-4 text-center box py-20">
                    <div class="card card-bordered card-hover-shadow bg-gray">
                        <div class="card-block">
                            <a href="/center/fitness-option/">
                                <img src="/public/images/Icons/flaticon-crossfit.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h5 class="card-title" style="margin-top: 20px; margin-bottom: 0; color: #02b2e2;">Web Development</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 text-center box py-20">
                    <div class="card card-bordered card-hover-shadow bg-gray">
                        <div class="card-block">
                            <a href="/center/fitness-option/">
                                <img src="/public/images/Icons/flaticon-crossfit.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h5 class="card-title" style="margin-top: 20px; margin-bottom: 0; color: #02b2e2;">Graphic Design</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 text-center box py-20">
                    <div class="card card-bordered card-hover-shadow bg-gray">
                        <div class="card-block">
                            <a href="/center/fitness-option/">
                                <img src="/public/images/Icons/flaticon-crossfit.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h5 class="card-title" style="margin-top: 20px; margin-bottom: 0; color: #02b2e2;">Marketing</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 text-center box py-20">
                    <div class="card card-bordered card-hover-shadow bg-gray">
                        <div class="card-block">
                            <a href="/center/fitness-option/">
                                <img src="/public/images/Icons/flaticon-crossfit.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h5 class="card-title" style="margin-top: 20px; margin-bottom: 0; color: #02b2e2;">Brand Design</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 text-center box py-20">
                    <div class="card card-bordered card-hover-shadow bg-gray">
                        <div class="card-block">
                            <a href="/center/fitness-option/">
                                <img src="/public/images/Icons/flaticon-crossfit.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h5 class="card-title" style="margin-top: 20px; margin-bottom: 0; color: #02b2e2;">Awesome Support</h5>
                            </a>
                        </div>
                    </div>
                </div>

                <div class="col-sm-4 text-center box py-20">
                    <div class="card card-bordered card-hover-shadow bg-gray">
                        <div class="card-block">
                            <a href="/center/fitness-option/">
                                <img src="/public/images/Icons/flaticon-crossfit.png" class="img-fluid" style="width: 190px; border: 2px solid #e2e2e2; border-radius: 120px;">
                                <h5 class="card-title" style="margin-top: 20px; margin-bottom: 0; color: #02b2e2;">Creative Idea</h5>
                            </a>
                        </div>
                    </div>
                </div>
                

                <div class="col-sm-12 text-center" style="margin-top: 40px">      
                    <a href="/center/fitness-option/all" class="btn btn-round btn-primary">
                        Start Project with Us
                    </a>
                </div>
            </div>
        </div>
    </section>
    <!-- // END OF OUR SERVICES SECTION -->

    <!-- THIS IS THE CONTACT US SECTION -->
    <section class="section recommended-pro">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-md-12 col-sm-12 text-center">
                        <h2>CONTACT US</h2><hr class="w-50 hidden-sm-down">
                        <h4><b>Get in touch via contact form or email me directly</b></h4>
                        <p>I will get back to you as soon as possible</p>
                        <hr>
                    </div>  
                    
                    <div class="row">
                        <div class="col-md-8 col-sm-8" >
                            <form class="form-horizontal" action='/' method='post'>
                                <fieldset>
                                    <div class="form-group">
                                      <label for="inputSubject" class="col-lg-2 control-label">Subject:</label>
                                      <div class="col-lg-12">
                                        <input type="text" class="form-control" id="inputSubject" name='subject' placeholder="Subject" required>
                                      </div>
                                    </div>
                                    <hr>
                                    <div class="form-group">
                                      <label for="name" class="col-lg-2 control-label">Full Name:</label>
                                      <div class="col-lg-12">
                                        <input type="text" class="form-control" id="name" name='name' placeholder="From" required>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="email" class="col-lg-2 control-label">Email:</label>
                                      <div class="col-lg-12">
                                        <input type="text" class="form-control" id="email" name='email' placeholder="Email" required>
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label for="message" class="col-lg-2 control-label">Message:</label>
                                      <div class="col-lg-12">
                                        <textarea class="form-control" rows="3" id="message" name='message' required></textarea>
                                      </div>
                                    </div>
                                    <br>
                                    <div class="form-group">
                                      <div class="col-lg-12">
                                        <button type="reset" style="color: #ffffff; background-color: #d82d48; border-color: transparent; padding: 10px;">      Reset      </button>
                                        <button type="submit" style="color: #ffffff; background-color: #2c3e50; border-color: transparent; padding: 10px;">      Submit      </button>
                                      </div>
                                    </div>
                                </fieldset>
                            </form>
                        </div>
                        <div class="col-md-4 col-sm-4 text-center" >
                            <div>
                                <h3><strong>Where To Meet?</strong> </h3>
                            </div>
                            <!-- Personal Info -->
                            <div style="color: #515557;">
                                <p>Tayabas City</p>
                                <p>Quezon Philippines</p>
                            </div>
                            <hr>
                            <div>
                                <h3><strong>Say Hello</strong> </h3>
                            </div>
                            <!-- Personal Info -->
                            <div style="color: #515557;">
                                <p><strong>Email: </strong> some_email@gmail.com</p>
                                <p><strong>Phone: </strong>+639-19-589-5787</p>
                            </div>
                            <hr>

                            <div>
                                <p><a href='#'>Google Maps <span class="glyphicon glyphicon-arrow-right"></span></a></p>
                                <img src="/public/images/Google-Maps-icon.png" width="100" />
                            </div>
                            <hr>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </section>
    <!-- // END OF THE CONTACT US SECTION -->

    <section class="section section-inverse cta-register" style="background-image: url(public/images/startup-photos.jpg)" data-overlay="6">
        <div class="container">
            <div class="row gap-y align-items-center">
            <div class="col-12 col-md-6 text-center text-md-left">
                <h4 class="mb-0">Interested in our Portfolio?</h4>
            </div>

            <div class="col-12 col-md-6 text-center text-md-right clearfix">
                <a class="btn view-more-button pull-right" href="/professional/signup/premium" >
                View Portfolio<!-- Register as professional--><i class="ti-arrow-right fs-9 ml-8"></i>
                </a>
                <a class="btn view-more-button pull-right" href="/center/signup/premium" style="margin-right: 20px;">
                Start Project With Us<!-- Register as center--><i class="ti-arrow-right fs-9 ml-8"></i>
                </a>
            </div>
            </div>
        </div>
    </section>

</div>
<%- include("../templates/footer.ejs") %>
<script src="/public/javascript/core.min.js"></script>
<script src="/public/javascript/thesaas.min.js"></script>
</body>
</html>