<section class="section overflow-hidden hidden-sm-down" id="section-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify pt-md-5"><div class="hidden-sm-down"><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"><i class="fa fa-users"></i> <font style="vertical-align: inherit;">OUR TEAM</font></font></h4>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. </font></font></p>

            <a href="#" data-scrollto="section-team" class="btn btn-round btn-danger mt-3">
              View Individual Team Members
            </a>

          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/team.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/values.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify pt-md-5"><div class="hidden-sm-down"><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"> <i class="fa fa-globe"></i> <font style="vertical-align: inherit;">OUR EXPERIENCE</font></font></h4>
            <p class="scrollto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. </font></font></p>

            <a href="#" data-scrollto="section-contactus" class="btn btn-round btn-danger mt-3">
                Start Project with Us
            </a>
          </div>
        </div>
      </div>

    </div>
    <div class="row pt-20">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify"><div class="hidden-sm-down"><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"> <i class="fa fa-star"></i> <font style="vertical-align: inherit;">OUR VALUES</font></font></h4>
            <p>Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/experience.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/history.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 pt-md-5">
        <div>
          <div class="about-box-text text-justify"><div class="hidden-sm-down"><br><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"><i class="fa fa-rocket"></i> <font style="vertical-align: inherit;">OUR HISTORY</font></font></h4><br>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis. </font></font></p>

            <p class="scrollto"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis.</font></p>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  <br>
</section>

<section class="section overflow-hidden hidden-sm-up" id="section-content">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify pt-md-5"><div class="hidden-sm-down"><br><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"><i class="fa fa-users"></i> <font style="vertical-align: inherit;">OUR TEAM</font></font></h4>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. </font></font></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/team.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify pt-md-5"><div class="hidden-sm-down"><br><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"> <i class="fa fa-globe"></i> <font style="vertical-align: inherit;">OUR EXPERIENCE</font></font></h4>
            <p class="scrollto"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. </font></font></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/values.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      

    </div>
    <div class="row pt-20">
      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify"><div class="hidden-sm-down"><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"> <i class="fa fa-star"></i> <font style="vertical-align: inherit;">OUR VALUES</font></font></h4>
            <p>Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/experience.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6 pt-md-5">
        <div><br><br>
          <div class="about-box-text text-justify"><div class="hidden-sm-down"><br><br><br></div>
            <h4 class="text-gray-dark"><font style="vertical-align: inherit;"><i class="fa fa-rocket"></i> <font style="vertical-align: inherit;">OUR HISTORY</font></font></h4>
            <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis. </font></font></p>

            <p class="scrollto"><font style="vertical-align: inherit;">Lorem ipsum dolor sit amet, sit ne graecis propriae gloriatur, cu sit nonumy insolens menandri, usu et agam aliquam perpetua. Nisl errem ponderum cu vel. Putant accusam intellegat ea mea, eos epicurei antiopam an. No oportere assueverit interpretaris qui, duo eu neglegentur interpretaris vituperatoribus. Ei diam postea ullamcorper mel. An eos omnis viderer debitis.</font></p>
          </div>
        </div>
      </div>

      <div class="col-md-6 col-sm-6">
        <div>
          <div class="about-box-text text-justify">
            <img src="/public/images/history.png" class="img img-fluid" alt="">
          </div>
        </div>
      </div>

      
      
    </div>
  </div>
  <br>
  <div class="col-md-12 text-center" style="margin-top: 40px">      
    <a href="#" data-scrollto="section-team" class="btn btn-round btn-danger">
      View Individual Team Members
    </a>
  </div>
</section>