<header class="header header-inverse main-header prof-header" style="background-image: url(/public/images/Technique-for-Faster-Web-Development.jpg)">
	<div class="overlay" style="background-image: linear-gradient(120deg,#292d35 0,#1e2127 100%);" id="home"></div>
	<div class="container text-center">

		<div class="row h-full">
			<div class="col-12 col-md-8 offset-lg-2 align-self-center pt-50">

				<h2 class="hidden-sm-down">COMPANY WEB SOLUTIONS</h2><br><hr class="w-50 hidden-sm-down">
				<h1 class="hidden-sm-down fs-55">
					We are a creative group of people who design influential brands and digital experiences.
				</h1>
				<h1 class="hidden-md-up fs-30">
					COMPANY WEB SOLUTIONS<br><br><hr class="w-50">
					We are a creative group of people who design influential brands and digital experiences.
				</h1><br>
				<br>

				<br>

				<div class="text-center hidden-sm-down">
					<a class="btn btn-default btn-lg" href="#" style="border-radius: 0px;" data-scrollto="section-content">Get Started</a> 
					<a class="btn btn-danger btn-lg" href="#" style="border-radius: 0px" data-scrollto="section-content">Learn More <span class="fa fa-arrow-right"></span></a>
				</div>

				<div class="text-center hidden-sm-up">
					<a class="btn btn-default btn-lg btn-block" href="#" style="border-radius: 0px;" data-scrollto="section-content">Get Started</a> <br>
					<a class="btn btn-danger btn-lg btn-block" href="#" style="border-radius: 0px" data-scrollto="section-content">Learn More <span class="fa fa-arrow-right"></span></a>
				</div>

				<br>
			</div>
		</div>

		<br><br><br><br>

		<div class="col-12 align-self-end text-center">
			<a class="scroll-down-1 scroll-down-inverse" href="#" data-scrollto="section-content"><span></span></a>
		</div>

	</div>
</header>