<header class="header header-inverse main-header prof-header hidden-sm-down" style="background-image: url(/public/images/Technique-for-Faster-Web-Development.jpg)">
	<!---->
	<div class="container text-right" >
		<div class="row h-full">
			<div class="col-12  align-self-right px-4">

				<h2 class="fs-60">COMPANY <strong>WEB</strong><br><span class="text-warning">SOLUTIONS</span></h2>
				<h1 class="fs-20">
					We are a creative group of people who design influential <br>brands and digital experiences. We also provide business<br> solution to your IT related problems.
				</h1>
				<br>
				<br>

				<div style="z-index: 999999999 !important; position: relative;">
					<a class="btn btn-default btn-lg" href="#" style="border-radius: 0px;" data-scrollto="section-content">Get Started</a> 
					<a class="btn btn-warning btn-lg" href="#" style="border-radius: 0px" data-scrollto="section-content">Learn More <span class="fa fa-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</header>

<header class="header header-inverse main-header prof-header hidden-sm-up" style="background-image: url(/public/images/Technique-for-Faster-Web-Development.jpg)" data-overlay="5">
	<!---->
	<div class="container text-right" id="home">

		<div class="row h-full">
			<div class="col-12  align-self-right px-4">

				<h1 class="text-left px-3">
					COMPANY WEB <span class="text-warning">SOLUTIONS</span><hr class="w-50">
				</h1>

				<h5 class="text-left px-3">
					We are a creative group of people who design influential brands and digital experiences. We also provide business solution to your IT related problems.
				</h5><br>
				<br>

				<div class="px-3" style="z-index: 999999999 !important; position: relative;">
					<a class="btn btn-default btn-lg btn-block" href="#" style="border-radius: 0px;" data-scrollto="section-content">Get Started</a> <br>
					<a class="btn btn-warning btn-lg btn-block" href="#" style="border-radius: 0px" data-scrollto="section-content">Learn More <span class="fa fa-arrow-right"></span></a>
				</div>
			</div>
		</div>
	</div>
</header>


<div>
	<svg class="svg" id="mySVG" width="100%" height="100%">
		<path class="svgpath" d="M 0 100 Q 80 120 160 100 Q 250 90 330 100 Q 440 130 540 130 Q 640 130 750 100 Q 830 90 1500 100 Q 1350 120 2050 100 Q 2050 75 1500 60 Q 540 60 0 60 Q 0 70 0 100 Z" />
	</svg>	

</div>
